<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

        <bean id="student" class="Student" name="student:name">
            <constructor-arg type="int" value="56" />
        </bean>

    <bean id="I1" class="Info">
        <property name="firstName" value="John" />
        <property name="lastName" value="duglus" />
        <property name="salary" value="10000" />
    </bean>

    <bean id="teacher" class="Teacher">
        <property name="info1" ref="I1"/>

        <property name="info2">

            <bean class="Info">
                <property name="firstName" value="sachin" />
                <property name="lastName" value="vasdev" />
                <property name="salary" value="23456" />
            </bean>

        </property>
        <property name="info3" >
            <bean class="Info">
                <property name="firstName" value="ashok" />
                <property name="lastName" value="maharathi" />
                <property name="salary" value="10000" />
            </bean>
         </property>
    </bean>

    <bean id="teacherList" class="TeacherList">
        <property name="list">
            <list>
                <ref bean="I1"/>
            </list>
        </property>
    </bean>

    <alias name="teacher" alias="teacher-alias"/>
    </beans>


